/*|| mobile 480px */

@media(max-width:769px){
    .main{
        padding:0%;
        margin:0%;}

    .main.flex-row{
        display:flex;
        flex-direction:column;
        margin:0%;
        padding:0%;
    }

    .main .sidebar{
        min-height:1000px;
        min-width:480px;
        padding-bottom:5%;
        
    }

    .imagem_container{
        height:40vh;
    }
    .info_container{
        font-size:16px;
    }

    .main .sub_main{
        min-height:1000px;
        min-width:480px;
        padding-bottom: 3%;
    }


    .descricao ul.flex-row{
        display: flex;
        flex-direction:column;
        align-items: center;
    }

}

/*|| tablet 810px*/
@media(min-width:768px) {

    .main{
        padding:5%;}
    
        .main .sidebar{
    width: 70%;
}

    ul.flex-row{
        display: flex;
        flex-flow: row wrap;
    }

}


/* || laptop 1024px*/
@media(min-width:1024px) {
    .main .sidebar{
        width: 30%;
    }

    .imagem_container{
        height:20%;
    }

    .main .sub_main{
        width: 70%;
    }
    ul.flex-row{
        display: flex;
        flex-flow: row nowrap;
    }


}
